[Desktop Entry]
Name=CoreMetrics
Comment=Cross-platform desktop system monitor (CPU / RAM / GPU / processes)
Exec=coremetrics
Icon=io.github.sviatil0.CoreMetrics
Type=Application
Categories=System;Monitor;
Keywords=system;monitor;cpu;ram;gpu;process;htop;
Terminal=false
